/* Basico */
* {
    box-sizing: border-box; /*el ancho incluye padding y borde*/
}

body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: rgb(84, 84, 82);
}

img {
    max-width: 100%;
}

/* Header */

header {
    max-width: 75rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    border-bottom: 4px solid rgb(0, 0, 0);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

.auto {
    font-size: 1.2rem;
    color: rgb(255, 236, 236);
}

/* main (contenido principal) */

main {
    max-width: 75rem;
    margin: 0 auto;
    padding: 3rem 2rem;
}

div {
    margin: 0 0 2rem;
    padding: 1rem;
    background: white;
    border: 1px solid rgb(232, 227, 227);
}

section {
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
    background: rgb(57, 57, 57);
    border: 1px solid rgb(235, 228, 228);
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

.destacado {
    background: rgb(61, 61, 60);
    padding: 1rem;
}

.button {
    margin-top: 1;
    padding: 0.75rem 1.5rem;
    background: rgb(22, 24, 22);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

footer {
    max-width: 75rem;
    margin: 0 auto;
    padding: 3rem 2rem;
}
